<nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
      <!-- Logo and Toggler -->
      <div class="d-flex align-items-center justify-content-between w-100">
        <a class="navbar-brand" href="#">
          <img class="rounded-circle" src="https://st.depositphotos.com/18879306/60933/v/450/depositphotos_609336790-stock-illustration-initials-letter-wedding-monogram-logos.jpg" alt="Logo" width="50" height="50" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex justify-content-center flex-grow-1">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/order">Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/produkpelanggan">produk</a>
              </li>
            </ul>
          </div>
        </div>
  
        <!-- Sign Out Button -->
        <form class="d-flex justify-content-end mt-2 mt-lg-0" role="search" action="/logout" method="POST">
          <button class="btn btn-danger btn-out" type="submit">Sign Out</button>
        </form>
      </div>
    </div>
  </nav>
  