<div class="body">
    <div class="login-container">
      <div class="login-box">
        <img src="https://st.depositphotos.com/18879306/60933/v/450/depositphotos_609336790-stock-illustration-initials-letter-wedding-monogram-logos.jpg" alt="Logo" class="logo" />
        <h2>Sign Up</h2>
        <p>Silahkan Daftarkan Akun Anda</p>
        <form action="/login" method="POST" class="login-form">
          <input type="text" name="username" placeholder="Username" required />
          <input type="password" name="password" placeholder="Password" required />
          <button type="submit">Sign in</button>
        </form>
        <p class="footer-text">Sudah Memiliki Akun ? <a href="/login">Sign In</a></p>
      </div>
    </div>
  </div>